@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --primary: #fff;
    --sec: #f0f8ff;
    --h1: #000;
    --header-bg: #282828;
    --primary-hover: #d1d0d0;
    --border: #ddff00;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

#root {
    position: relative;
    min-height: 100vh;
    height: 100vh;
}

body {
    background-color: var(--sec);
    font-family: 'Inter', sans-serif;
}

main {
    padding-top: 100px;
    height: 100%;
}

@media all and (max-width:425px) {
    main{
        padding-top: 80px;
    }
}
